.timeline-title {
  margin-top: 150px;
  background-color: rgb(44, 71, 110);

  color: rgb(231, 230, 230);
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.timeline-title h2 {
  font-weight: bold;
  padding: 20px;
}

@media screen and (max-width: 850px) {
  .timeline-title {
    margin-top: 150px;
    background-color: rgb(44, 71, 110);

    color: rgb(231, 230, 230);
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    border-radius: 20px;
  }
}
